/* deixa as cores e font salvadas para facilitar na hora de pegar e nn precisar ficar copiando e colando*/
:root {
    /* Variáveis de cores para usar no projeto todo */
    --black: #000000;
    --body: #07070a;
    --dark: #131313;
    --vinho: #330505;
    --vermelho: #8a0000;
    --grad-text: linear-gradient(90deg, #601414, #5e0000, #750c0cab);
    --white: #ffffff;
    --gray: #939393;
    /* Tempo da animação de transição */
    --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    --font: sans-serif;
}

/* Configuração do topo do site */
header {
    position: fixed;
    /* Fixa o menu no topo mesmo ao rolar */
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    backdrop-filter: blur(12px);
    /* Efeito de desfoque no fundo */
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 100;
    padding: 0 40px;
    justify-content: space-between;
}

/* Container do conteúdo dentro do header */
.conjunto-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 100;
    height: 70px;
}

/* Estilo do texto da logo */
.logo {
    font-family: var(--font);
    font-size: 2rem;
    font-weight: 900;
    padding-left: 30px;
    background: var(--grad-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Alinhamento dos itens do menu */
.menu-index {
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;

}

/* Links dentro do menu */
.menu-index a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    transition: color 0.2s;
}

.menu-index a:hover {
    color: var(--white);
}

/* Botão de destaque do menu */
.btn-cadastre {
    display: inline-block;
    background: var(--grad-text);
    color: var(--white);
    padding: 8px 18px;
    border-radius: 12px;
    font-weight: 400px;
    transition: transform 0.2s, background-color 0.2s;
}

/* transformacao do botao quando passa o mousse */
.btn-cadastre:hover {
    transform: translateY(-2px);
}

/* CONFIGURAÇÕES DO CORPO */
body {
    background-color: var(--body);
    color: var(--gray);
    line-height: 1.6;
}

/* Reset básico para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* SEÇÃO HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 40px;
    min-height: 100vh;
}

/* Bloco de texto da seção hero */
.hero-conteudo {
    flex: 1;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* tesxto do hero encima do h2 */
.hero-novo {
    color: var(--azul);
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.hero h2 {
    text-align: left;
    font-size: 2.2rem;
    line-height: 1.1;
    margin-bottom: 10px;
    color: var(--white);
}

.hero-texto {
    font-size: 0.9rem;
    color: var(--gray);
    margin-bottom: 25px;
}
#particles-js {
    position: absolute;
    right: -900px;
    width: 50%;
    /* Metade da tela */
    height: 800px;
    top: 20;
    bottom: 0;
    right: 0;
    /* Lado direito */
  
    background-color: transparent;
}


/* Bloco da imagem da seção hero */
.hero-foto {
    max-width: 400px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-foto img {
    width: 250px;
    height: auto;
    border-radius: 12px;
    filter: drop-shadow(0 0 20px rgba(66, 0, 0, 0.64));
}


/* BOTÃO DE CADASTRAR VINHO */
.btn-vinho {
    display: inline-block;
    background: var(--grad-text);
    color: var(--white);
    padding: 8px 20px;
    border-radius: 12px;
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.2s, background-color 0.2s;
}

.btn-vinho:hover {
    transform: translateY(-2px);
}

h2 {
    color: var(--white);
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

/* Box de cadastro à direita */
.registration-box {
    background-color: var(--gray);
    color: var(--vinho);
    padding: 20px;
    border-radius: 15px;
    width: 280px;
    box-shadow: 0 10px 25px rgba(69, 5, 5, 0.656);

    margin: 120px auto 40px auto;
    max-width: 350px;

}

.registration-box h2 {
    color: var(--vinho);
    margin-bottom: 25px;
    font-size: 1.5rem;
}

/* Estilo dos campos do formulário */
.form-group {
    margin-bottom: 12px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #d8dee5;
    font-size: 1rem;
}

/* Botão de envio */
.btn-submit {
    width: 100%;
    padding: 15px;
    background-color: var(--vinho);
    color: var(--white);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: var(--vermelho);
}


/* CONTATO */
#contato {
    padding: 70px 20px;
    text-align: center;
    background: var(--vinho);
    border-top: 1px solid #30363d;
}

#contato h2 {
    color: var(--white);
}

/* Botão que abre a lista de desenvolvedores */
#abrirdevs {
    padding: 12px 36px;
    border-radius: 50px;
    border: none;
    background: var(--grad-text);
    font-weight: 400px;
    color: var(--white);
    font-size: 0.95rem;
    cursor: pointer;
}

#abrirdevs:hover {
    opacity: 0.85;
}

/* OVERLAY E MODAL*/
.janela-modal {
    display: none;
    /* Escondido até o JS ser acionado */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Caixa branca/escura interna do modal */
.conteudo-modal {
    background-color: #161b22;
    border: 1px solid #30363d;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    position: relative;
}

.conteudo-modal h2 {
    color: var(--white);
    margin-bottom: 25px;
    font-size: 1.5rem;
}

.lista-devs p {
    color: var(--gray);
    padding: 10px 0;
    font-size: 0.9rem;
}

/* Botão de fechar do modal */
.btn-fechar {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    color: var(--gray);
    font-size: 2rem;
    cursor: pointer;
    line-height: 1;
}

/* Classe controlada pelo JavaScript para mostrar o modal */
.janela-modal.visivel {
    display: flex;
}

/* FOOTER  */
footer {
    background: #010409;
    color: var(--white);
    padding: 50px 20px 20px;
    border-top: 1px solid #30363d;
}

/* Alinhamento dos blocos de informação no rodapé */
.footerconteudo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.info h3 {
    color: var(--white);
    margin-bottom: 8px;
}

.info p {
    color: var(--gray);
    font-size: 0.85rem;
}

.footer-links h4,
.redes h4 {
    color: var(--white);
    margin-bottom: 12px;
}

.footer-links ul {
    list-style: none;
}

.footer-links li {
    margin-bottom: 6px;
}

.footer-links a {
    color: var(--gray);
    text-decoration: none;
    font-size: 0.85rem;
}

.footer-links a:hover {
    color: var(--azul);
}

.redes span {
    color: var(--gray);
    font-size: 0.85rem;
}

/* Linha de direitos autorais no final de tudo */
.copyright {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #30363d;
    padding-top: 20px;
    font-size: 0.78rem;
    color: var(--gray);
}

/* Links das redes sociais no rodapé */
.redes a {
    text-decoration: none;
    color: var(--gray);
    transition: 0.3s;
}

/* Efeito de destaque nas redes sociais */
.redes a:hover {
    color: var(--azul) !important;
}

.redes a:hover span {
    color: var(--azul);
}